{% load i18n %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>You Food Inc.</title>
    <link rel="stylesheet"  type="text/css"  href="" />
</head>
<body>
    
    <nav>
        <div id="menu">
            <div id="menu_content">
                <ul>
                    <li><a href="{% url create_menu %}">Creer menu</a></li>
                </ul>
            </div>
        </div>
    </nav>
    </div>
{% block content %}{% endblock %}
</body>
</html>
